.button {
  background-color: #14ae5c;
  width: 300px;
  height: 80px;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.button:hover {
  background-color: #109d51;
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

@media (max-width: 769px) {
  .button {
    /* width: 28vw;
    height: 8vw;
    border-radius: 3vw;
    font-size: 2vw; */
  }
}
@media (max-width: 450px) {
  .button {
    width: 100%;
    /* height: 20vw; */
    /* border-radius: 7vw; */
    /* font-size: 5vw; */
  }
}
@media (max-width: 370px) {
  .button {
    height: 20vw;
    font-size: 5.5vw;
    border-radius: 7vw;
  }
}
@media (max-width: 315px) {
}
