.button {
  background-color: #14ae5c;
  width: 19vw;
  height: 5vw;
  color: white;
  border: none;
  border-radius: 1.8vw;
  font-size: 1.4vw;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #109d51;
}

.button:active {
  background-color: #004085;
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

@media (max-width: 769px) {
  .button {
    width: 28vw;
    height: 8vw;
    border-radius: 3vw;
    font-size: 2vw;
  }
}
@media (max-width: 450px) {
  .button {
    width: 94vw;
    height: 20vw;
    border-radius: 7vw;
    font-size: 5vw;
  }
}
